{% extends 'base.html.twig' %}
{% block title %}Authentification !
{% endblock %}
{% block body %}
<h1>Sign Up </h1>
<div>
{{ form_start(form) }}
{{ form_errors(form) }}

<div>
{{ form_label(form.email, "Email") }}
{{ form_errors(form.email) }}
<div>
{{ form_widget(form.email) }}
</div>
</div>
<div>
{{ form_label(form.password, "Password") }}
{{ form_errors(form.password) }}
<div>
{{ form_widget(form.password) }}
</div>
</div>
<div>
{{ form_label(form.adresse, "adresse") }}
{{ form_errors(form.adresse) }}
<div>
{{ form_widget(form.adresse) }}
</div>
</div>
<div>
{{ form_rest(form) }}
</div>
{{ form_end(form) }}

</div>
{% endblock %}
