{% extends 'base.html.twig' %}

{% block title %}Carte index{% endblock %}

{% block body %}
    <h1>Carte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CardNum</th>
                <th>DateExp</th>
                <th>CVC</th>
                <th>CardHolder</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte in cartes %}
            <tr>
                <td>{{ carte.id }}</td>
                <td>{{ carte.cardNum }}</td>
                <td>{{ carte.DateExp ? carte.DateExp|date('Y-m-d') : '' }}</td>
                <td>{{ carte.CVC }}</td>
                <td>{{ carte.cardHolder }}</td>
                <td>
                    <a href="{{ path('carte_show', {'id': carte.id}) }}">show</a>
                    <a href="{{ path('carte_edit', {'id': carte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carte_new') }}">Create new</a>
{% endblock %}
