{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
    <h1>Carte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carte.id }}</td>
            </tr>
            <tr>
                <th>CardNum</th>
                <td>{{ carte.cardNum }}</td>
            </tr>
            <tr>
                <th>DateExp</th>
                <td>{{ carte.DateExp ? carte.DateExp|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CVC</th>
                <td>{{ carte.CVC }}</td>
            </tr>
            <tr>
                <th>CardHolder</th>
                <td>{{ carte.cardHolder }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('carte_index') }}">back to list</a>

    <a href="{{ path('carte_edit', {'id': carte.id}) }}">edit</a>

    {{ include('carte/_delete_form.html.twig') }}
{% endblock %}
